<div id="principal">

    <h1 id="titulo" class="mt-5 text-center">Aplicação Web de Gestão Financeira utilizando a linguagem de programação Elixir e o Framework Phoenix.</h1>

    <img src={Routes.static_path(@conn, "/images/banner.png")} alt="banner" id="banner">
    
</div>


