<div class="row mb-3">
    <div class="col">
      <label for="inputName" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputName" name="name"/>
    </div>
    <div class="col">
      <label for="inputValue" class="form-label">valor</label>
      <input type="text" class="form-control" id="inputValue" name="value"/>
    </div>
</div>
  
<button type="submit" class="btn btn-primary">Salvar</button>